/**Main**/

.titulo-pagina {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 0.5px;
     
}

.contenedor-card {
    padding: 10px 0px;
    display: grid;
    grid-template-areas: 
    "card1 card2 card3"
    "card4 card5 card6"
    ;
    justify-items: center;
    gap: 10px;
    overflow: hidden;

    .card {
        height: 500px;
        width: 300px;
        background-color: rgb(217, 217, 217);
        display: flex;
        border-radius: 4px;
        }

        .card {
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 60%;
            border: solid rgb(154, 154, 154) 0.5px;
            text-align: center;
            
            
        }
        
        .card-img {
            width: 100%;
            border-radius: 5px;
        
        }
        
        .info-card {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
}

/**Fin Main**/