/** Paginas Responsives **/

@media (max-width: 400px) {

    aside {
        display: none;
    }

    body {
        padding: 0;
        margin: 0;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
    }
    /** Header Responsive **/
    .contenedor-header {
        width: 380px;
        flex-direction: column;
    }

    .contenedor-logo {
        margin-left: 34%;
    }

    .buscador {
        display: none;
    }

    .usuarios {
        display: none;
    }

    .navegador a {
        font-size: 11.5px;
    }

    /** Fin header responsive **/

    /** Footer Responsive **/

    .contenedor-footer {
        width: 380px;
        padding: 3px;
        justify-content: space-between;
    }

    .logo-footer {
        width: 40px;
    }

    

    .telefono img {
        width: 20px;
        height: 20px;
        padding-left: 2px;

    }

    .redes img {
        width: 20px;
        height: 20px;
    }

    .redes {
        align-items: flex-end;
    }



.titulo-form {
    font-size: 20px;
}

.formulario {
    padding: 10px;
    width: 300px;
    justify-content: center;
}

.formulario button { 
    margin-left: 90%;
}

/**Inicio Responsive**/

.contenedor-card {
    grid-template-areas: none;
}

/** Destino Responsive **/

.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-left: 50px;
}

/** Nosotros **/ 

.nosotros {
    display: flex;
    flex-direction: column-reverse;

}

.imagen-nosotros {
    display: none;
}

.sobre-nosotros {
    width: 100%;
    
}


}